@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
    
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: #f9f9f9;
    color: #333;
    
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0077b6;
    color: #fff;
    padding: 1rem 2rem;
}

header .logo h1{
    font-size: 2.4rem;
}

header .logo a {
  text-decoration: none;
  color: #fff;
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 2rem;
    font-size: 1.5rem;
}

header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

header nav ul li a:hover{
    color: #90e0ef;
}

header .material-symbols-outlined{
    font-size: 2.8rem;
    cursor: pointer;
    color: #fff;
}

.home-main h2{
    font-size: 3rem;
    padding-left: 2rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0077b6;
    color: #fff;
    padding: 2rem;
    
}

footer .footer-menu ul {
    display: flex;
    gap: 2rem;
    list-style: none;
}

footer .footer-menu a{
    color: #fff;
    font-size: 1.5rem;
}

footer .footer-menu a:hover{
    color: #90e0ef;
}

footer .footer-redes a{
 margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  justify-content: center;
   font-size: 2.4rem;
padding: 0.5rem;
}

.footer-redes a:hover {
  color: #90e0ef;
}

.footer-redes .material-symbols-outlined {
  font-size: 2.4rem;
}

.grid-ofertas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 2rem;
}

.grid-ofertas .producto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grid-ofertas .producto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.grid-ofertas .producto-info {
  flex: 1;
}

.grid-ofertas .producto-info h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.grid-ofertas .producto-info p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #555;
}
.grid-ofertas .producto-info .precio-tachado {
  text-decoration: line-through;
    font-weight: bold;
  color: #0077b6;
  font-size: 1.6rem;
}

.grid-ofertas .producto-info .precio {
  font-weight: bold;
  color: #0077b6;
  font-size: 1.6rem;
}

.grid-ofertas .producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.home-main {
    padding: 2rem;
}

.productos-main {
    display: grid;
    grid-template-columns: 25rem 1fr;;
    gap: 2rem;
    padding:0 2rem;
    align-items: start;
    margin: 2rem 0;
}

aside {
    width: 100%;
    background: #f9f9f9;
    padding: 1.5rem;
    margin-top: 6rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border-radius: 0.8rem;
}
 aside button {
    width: 100%; 
    
    padding: 0.6rem;
    margin-top: 0.5rem;
    background: #0077b6;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  aside button:hover {
    background: #448dec;
  }
 .filtros form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filtros select, 
.filtros button {
  padding: 0.5rem;

}

.resultados h2{
    font-size: 2.5rem;
}

.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 2rem;
}

.grid-productos .producto {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background: #fff;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 0.8rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.grid-productos .producto img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.grid-productos .producto-info h3 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}

.grid-productos .producto-info p {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: #555;
}

.grid-productos .producto-info .precio {
  font-weight: bold;
  color: #0077b6;
  font-size: 1.6rem;
}

.grid-productos .producto:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.buscador {
    text-align: center;
    margin-bottom: 2rem;
}

.buscador form {
    display: inline-flex;
    gap: 1rem;
}

.buscador input{
    padding: 0.8rem 1rem;
    border: 1px solid #ddd;
    border-radius:0.5rem ;
    width: 25rem;
    font-size: 1.4rem;
}

.buscador button{
    background: #0077b6;
    color: #fff;
    padding: 0.8rem 1.5rem;
    border: none;
    cursor: pointer;
}

.buscador button:hover{
    background: #023e8a;
}

.producto-main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; 
  padding: 2rem;
}

.producto-detalle {
    grid-column: 2 / 3; 
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  display: flex;
  gap: 2rem;
  align-items: start;
}

.producto-detalle img{
    max-width: 30rem;
    border-radius: 0.8rem;
}

.producto-info{
    flex: 1;

}

.producto-info h2 {
    font-size: 2.4rem;
    margin-bottom: 1rem;
}

.producto-info p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.producto-info form {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.producto-info input[type=number] {
    width: 6rem;
    padding: 0.5rem;
}

.producto-info button{
    background: #0077b6;
    color: #fff;
    padding: 1rem 2rem;
    border:none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.producto-info button:hover {
    background: #023e8a;
}

.contacto {
    max-width: 60rem;
    margin: 3rem auto;
    background: #fff;
    padding: 2rem;
    border-radius: 0.8rem;
    border: 1px solid #ddd;
}

.contacto h2{
    padding-bottom: 2rem;
}

.contacto form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.contacto input, .contacto textarea {
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}

.contacto button {
    background: #0077b6;
    color: #fff;
    padding: 1rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

.contacto button:hover {
    background: #023e8a;
}

.mensaje-main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.mensaje-centro {
  text-align: center;
  background: #fff;
  padding: 3rem 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.mensaje-centro h2 {
  font-size: 2rem;
  color: #0077b6;
  margin-bottom: 1rem;
}

.mensaje-centro p {
  font-size: 1.6rem;
  color: #333;
}

.btn-volver {
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 2rem;
  background: #0077b6;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
  font-size: 1.6rem;
  transition: background 0.2s;
}

.btn-volver:hover {
  background: #023e8a;
}


.carrito-main {
  flex: 1;
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
  background: #f9f9f9;
}

.carrito-main h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0077b6;
}

.carrito-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.carrito-tabla th,
.carrito-tabla td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

.carrito-tabla th {
  background: #0077b6;
  color: #fff;
}

.carrito-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 1rem;
  vertical-align: middle;
}

.carrito-tabla td input[type="number"] {
  width: 60px;
  padding: 0.3rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.carrito-total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.carrito-total h3 {
  font-size: 1.8rem;
  color: #0077b6;
}

.carrito-pago {
  background: #fff;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-bottom: 2rem;
}

.carrito-pago h3 {
  margin-bottom: 1.5rem;
  color: #0077b6;
  font-size: 1.8rem;
}

.carrito-pago form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carrito-pago label {
  font-weight: bold;
  font-size: 1.4rem;
}

.carrito-pago input {
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.4rem;
}

.pago-secundario {
  display: flex;
  gap: 1rem;
}

.pago-secundario .campo {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carrito-pago button.btn-pagar {
  background: #0077b6;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.6rem;
  margin-top: 1rem;
}

.carrito-pago button.btn-pagar:hover {
  background: #023e8a;
}

td .btn-eliminar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; 
  background: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 2rem;
  transition: transform 0.2s;
}

td .btn-eliminar:hover {
  transform: scale(1.2);
  color: #e60000;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 3rem;
  color: #fff;
}


.producto-info .precio-prod {
  display: block;
  font-size: 1.8rem;    
  font-weight: bold;    
  color: #222;          
  margin-top: 1rem;
}


#agregar-carrito {
  background: #3b82f6;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#agregar-carrito.agregado {
  background: #22c55e;
  transform: scale(1.05);
}


.carrito-icono {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.carrito-contador {
  position: absolute;
  top: -5px;
  right: -10px;
  background: #ef4444;
  color: white;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.carrito-contador.animate {
  transform: scale(1.3);
}


.btn-vaciar {
  background-color: #ff4c4c;
  color: white;
  border: none;
  padding: 10px 16px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.btn-vaciar:hover {
  background-color: #e43d3d;
}




.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 700px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  max-height: 85vh;
  overflow-y: auto;
  color: #222;
}


#modal-title {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  text-align: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.5rem;
}


#form-producto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 1.5rem;
}

#form-producto label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #444;
}

#form-producto input,
#form-producto select,
#form-producto textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 0.9rem;
  background-color: #fafafa;
  transition: border-color 0.2s;
}

#form-producto input:focus,
#form-producto select:focus,
#form-producto textarea:focus {
  border-color: #777;
  outline: none;
}


#form-producto textarea {
  grid-column: span 2;
  resize: vertical;
}


.modal-buttons {
  grid-column: span 2;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.btn {
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-confirmar {
  background-color: #0077cc;
  color: white;
}

.btn-cancelar {
  background-color: #ccc;
  color: #222;
}

.btn-confirmar:hover {
  background-color: #005fa3;
}

.btn-cancelar:hover {
  background-color: #bbb;
}




.abm-main {
  flex: 1;
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  background: #f9f9f9;
}

.abm-main h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #0077b6;
}


.abm-tabla {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

.abm-tabla th,
.abm-tabla td {
  padding: 1rem;
  border: 1px solid #ddd;
  text-align: left;
  vertical-align: middle;
}

.abm-tabla th {
  background: #0077b6;
  color: #fff;
}

.abm-tabla td img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}


.abm-tabla .btn-editar,
.abm-tabla .btn-eliminar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  transition: transform 0.2s;
}

.abm-tabla .btn-editar:hover {
  transform: scale(1.2);
  color: #22c55e;
}

.abm-tabla .btn-eliminar:hover {
  transform: scale(1.2);
  color: #e60000;
}


.abm-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.abm-modal.hidden {
  display: none;
}

.abm-modal-content {
  background-color: #fff;
  padding: 2rem 2.5rem;
  border-radius: 10px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.abm-modal-content h3 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  color: #333;
}

.abm-modal-content form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.abm-modal-content input,
.abm-modal-content select,
.abm-modal-content textarea {
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1.4rem;
}


.abm-modal-content button {
  background: #0077b6;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 600;
}

.abm-modal-content button:hover {
  background: #023e8a;
}


.btn-agregar {
  background: #3b82f6;
  color: white;
  padding: 10px 16px;
  margin-bottom: 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-agregar:hover {
  background: #2563eb;
}


.abm-modal input[type="file"] {
  padding: 0.4rem;
  font-size: 1.4rem;
}


@media (max-width: 1024px) {
 
  nav ul {
    display: none; 
  }

  .menu-toggle {
    display: block; 
  }

 
  .ofertas {
    grid-template-columns: repeat(2, 1fr);
  }

 
  .productos-main {
    grid-template-columns: 200px 1fr; 
  }
  .grid-ofertas {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-productos {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 768px) {

header .logo h1{
    font-size: 1.5rem;
    
  }

  header nav ul{
   
    font-size: 1rem;
}


  .grid-ofertas {
    grid-template-columns: 1fr;
  }
  .grid-ofertas .producto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid-ofertas .producto img {
    margin: 0 0 1rem 0;
  }

 


  .productos-main {
    grid-template-columns: 10rem 1fr; 
  }

  .productos-resultados {
    grid-template-columns: 1fr; 
  }

 
  .producto-detalle {
    flex-direction: column;
    align-items: center;
  }

   .grid-productos {
    grid-template-columns: 1fr;
  }
  .grid-productos .producto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .grid-productos .producto img {
    margin: 0 0 1rem 0;
  }

  .pago-secundario {
    flex-direction: column;
  }
  .carrito-tabla td img {
    width: 60px;
    height: 60px;
  }
  .carrito-total {
    justify-content: center;
  }
}


@media (max-width: 576px) {


 
   .productos-main {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

 
  .filtros {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 1rem;
    width: 100%;
  }

  .filtros form {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
  }

  .filtros select,
  .filtros button {
    flex: 1 1 auto; 
    min-width: 8rem;
  }

 
  .buscador {
    width: 100%;
    margin-bottom: 1rem;
  }

 
  .productos-resultados,
  .grid-productos {
    grid-template-columns: 1fr;  
    gap: 1rem;
  }

  footer .footer-menu a{
    
    font-size: 1rem;
}

footer .footer-redes a{
 
   font-size: 1.5rem;

}
}